@{
    ViewData["Title"] = "Ask an Question";
}
<h2>Ask a New Question</h2>
<form>
    <label>Question</label></br>
   <input type="text" placeholder="Question Title" /></br>
   <label>Question Body</label></br>
   <textarea placeholder="Enter your question here"></textarea></br>
    <button type="submit">Submit</button>
</form>