@{
    ViewData["Title"] = "Post an Answer";
}
<h2>Post an Answer</h2>
<form>
    <label>Answer</label></br>
    <textarea placeholder="Enter your answer here"></textarea></br>
    <button type="submit">Submit</button>
</form>