@{
    ViewData["Title"] = "Register";
}
<h2>Register Data</h2>
<form>
    <label>Username</label></br>
    <input type="text" placeholder="Enter username" /></br>
    <label>Password</label></br>
    <input type="password" placeholder="Enter password" /></br>
    <button type="submit">Register</button>
</form>